<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.apitesting.testScripts.TestCase1_PostStudent"/>
<!--      <class name="org.testing.apitesting.testScripts.TestCase2_PostTeacher"/>-->
<!--      <class name="org.testing.apitesting.testScripts.TestCase3_GetAllStudents"/>-->
      <class name="org.testing.apitesting.testScripts.TestCase4_GetParticularStudent"/>
      <class name="org.testing.apitesting.testScripts.TestCase5_UpdateStudentName"/>
      <class name="org.testing.apitesting.testScripts.TestCase6_UpdateUsingPut"/>
      <class name="org.testing.apitesting.testScripts.TestCase7_DeleteStudent"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
